.teaser-list > .list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.teaser-list.col-2 > .list {
  grid-template-columns: 1fr 1fr;
}

.teaser-list.col-3 > .list {
  grid-template-columns: 1fr 1fr 1fr;
}
