:root {
  --link-color: #3e6470;
  --link-hover-color: #136ff6;
  --background-color: #fff;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --body-font-family: "helvetica neue", helvetica, ubuntu, roboto, noto,
    sans-serif;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: "Roboto Mono", menlo, consolas, "Liberation Mono",
    monospace;
  --body-font-size-m: 18px;
  --body-font-size-s: 12px;
  --body-font-size-xs: 10px;
  --heading-font-size-xxl: 32px;
  --heading-font-size-xl: 28px;
  --heading-font-size-l: 24px;
  --heading-font-size-m: 18px;
  --heading-font-size-s: 14px;
  --heading-font-size-xs: 12px;
  --nav-height: 40px;
}

@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 40px;
    --heading-font-size-xl: 32px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 24px;
    --heading-font-size-s: 18px;
    --heading-font-size-xs: 14px;
  }
}

body {
  background-color: #fff;
  background-color: var(--background-color);
  color: #2c2c2c;
  color: var(--text-color);
  font-family: helvetica neue, helvetica, ubuntu, roboto, noto, sans-serif;
  font-family: var(--body-font-family);
  font-size: 14px;
  font-size: var(--body-font-size-m);
  line-height: 1.6;
  margin: 0;
}

body.appear {
  display: inline;
  display: initial;
}

.app {
  max-width: clamp(300px, 90%, 1280px);
  margin: 1rem auto;
}

header {
  height: 80px;
  height: calc(var(--nav-height) + 40px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: helvetica neue, helvetica, ubuntu, roboto, noto, sans-serif;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 0.5em;
  margin-top: 1em;
  scroll-margin: calc(40px + 1em);
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: 48px;
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: 40px;
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: 32px;
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: 24px;
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: 20px;
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: 18px;
  font-size: var(--heading-font-size-xs);
}

blockquote,
dl,
ol,
p,
pre,
ul {
  margin-bottom: 1em;
  margin-top: 1em;
}

hr {
  border: 0;
  border-bottom: 1px solid #eee;
  border-bottom: 1px solid var(--overlay-background-color);
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

code,
pre,
samp {
  font-family: Roboto Mono, menlo, consolas, Liberation Mono, monospace;
  font-family: var(--fixed-font-family);
  font-size: 18px;
  font-size: var(--body-font-size-s);
}

code,
samp {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: #eee;
  background-color: var(--overlay-background-color);
  border-radius: 0.25em;
  overflow-x: auto;
  padding: 1em;
  white-space: pre;
}

a:-webkit-any-link {
  color: #3e6470;
  color: var(--link-color);
  text-decoration: none;
}

a:any-link {
  color: #3e6470;
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: #136ff6;
  color: var(--link-hover-color);
  text-decoration: underline;
}

a.button:-webkit-any-link {
  background-color: #3e6470;
  background-color: var(--link-color);
  border: 2px solid transparent;
  border-radius: 30px;
  box-sizing: border-box;
  color: #fff;
  color: var(--background-color);
  cursor: pointer;
  display: inline-block;
  font-family: helvetica neue, helvetica, ubuntu, roboto, noto, sans-serif;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 600;
  margin: 16px 0;
  overflow: hidden;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:any-link,
button {
  background-color: #3e6470;
  background-color: var(--link-color);
  border: 2px solid transparent;
  border-radius: 30px;
  box-sizing: border-box;
  color: #fff;
  color: var(--background-color);
  cursor: pointer;
  display: inline-block;
  font-family: helvetica neue, helvetica, ubuntu, roboto, noto, sans-serif;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 600;
  margin: 16px 0;
  overflow: hidden;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:focus,
a.button:hover,
button:focus,
button:hover {
  background-color: #136ff6;
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: #eee;
  background-color: var(--overlay-background-color);
  cursor: inherit;
}

a.button.secondary,
button.secondary {
  background-color: initial;
  border: 2px solid;
  color: #2c2c2c;
  color: var(--text-color);
}

main input {
  background-color: #fff;
  background-color: var(--background-color);
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: #2c2c2c;
  color: var(--text-color);
  display: block;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  max-width: 50rem;
  padding: 0.75rem 0.6rem;
  width: 100%;
}

main input,
main input:hover {
  border: 1px solid #2c2c2c;
  border: 1px solid var(--text-color);
}

main blockquote {
  font-style: italic;
  hanging-punctuation: first;
  margin: 3rem;
  text-indent: -1rem;
}

main blockquote p:before {
  content: "“";
  line-height: 0;
}

main blockquote p:after {
  content: "”";
  line-height: 0;
}

main img {
  height: auto;
  max-width: 100%;
  width: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon svg,
.icon-securbank_logo {
  height: 100%;
  width: 100%;
}

main .section {
  padding: 12px 0;
}

@media (min-width: 600px) {
  main .section {
    padding: 18px 0;
  }
}

@media (min-width: 900px) {
  .section > div {
    margin: auto;
    max-width: 1480px;
    padding: 0 15px;
  }
}

main .section.highlight {
  background-color: #ccc;
  background-color: var(--highlight-background-color);
}

.sectionHeading {
  color: #2c2c2c;
  font: normal normal 700 24px/30px adobe-clean;
  letter-spacing: 0;
  margin: 0;
  opacity: 1;
  text-align: left;
}

@font-face {
  font-display: swap;
  font-family: adobe-clean;
  font-style: normal;
  font-weight: 900;
  src: url(https://use.typekit.net/af/ad2a79/00000000000000003b9b3f8c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/ad2a79/00000000000000003b9b3f8c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3)
      format("woff"),
    url(https://use.typekit.net/af/ad2a79/00000000000000003b9b3f8c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3)
      format("opentype");
}

@font-face {
  font-display: swap;
  font-family: adobe-clean;
  font-style: normal;
  font-weight: 400;
  src: url(https://use.typekit.net/af/b0c5f5/00000000000000003b9b3f85/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/b0c5f5/00000000000000003b9b3f85/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("woff"),
    url(https://use.typekit.net/af/b0c5f5/00000000000000003b9b3f85/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("opentype");
}

@font-face {
  font-display: swap;
  font-family: adobe-clean;
  font-style: normal;
  font-weight: 700;
  src: url(https://use.typekit.net/af/97fbd1/00000000000000003b9b3f88/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/97fbd1/00000000000000003b9b3f88/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
      format("woff"),
    url(https://use.typekit.net/af/97fbd1/00000000000000003b9b3f88/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
      format("opentype");
}

@font-face {
  font-display: swap;
  font-family: adobe-clean;
  font-style: italic;
  font-weight: 400;
  src: url(https://use.typekit.net/af/aa41d0/00000000000000003b9b3f86/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/aa41d0/00000000000000003b9b3f86/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3)
      format("woff"),
    url(https://use.typekit.net/af/aa41d0/00000000000000003b9b3f86/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3)
      format("opentype");
}

@font-face {
  font-display: swap;
  font-family: adobe-clean;
  font-style: normal;
  font-weight: 300;
  src: url(https://use.typekit.net/af/37eaae/00000000000000003b9b3f83/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/37eaae/00000000000000003b9b3f83/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3)
      format("woff"),
    url(https://use.typekit.net/af/37eaae/00000000000000003b9b3f83/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3)
      format("opentype");
}

@font-face {
  font-display: swap;
  font-family: adobe-clean;
  font-style: italic;
  font-weight: 300;
  src: url(https://use.typekit.net/af/a0c22f/00000000000000003b9b3f84/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/a0c22f/00000000000000003b9b3f84/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3)
      format("woff"),
    url(https://use.typekit.net/af/a0c22f/00000000000000003b9b3f84/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3)
      format("opentype");
}

@font-face {
  font-display: swap;
  font-family: "adobe-clean-serif";
  font-style: normal;
  font-weight: 400;
  src: url(https://use.typekit.net/af/e09494/00000000000000003b9aee45/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/e09494/00000000000000003b9aee45/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("woff"),
    url(https://use.typekit.net/af/e09494/00000000000000003b9aee45/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("opentype");
}

@font-face {
  font-display: swap;
  font-family: "adobe-clean-serif";
  font-style: normal;
  font-weight: 500;
  src: url(https://use.typekit.net/af/c8f445/00000000000000003b9aee47/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/c8f445/00000000000000003b9aee47/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3)
      format("woff"),
    url(https://use.typekit.net/af/c8f445/00000000000000003b9aee47/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3)
      format("opentype");
}

:root {
  --brand-color: #0296a6;
  --secondary-color: #cbe7f0;
  --additional-color: #3e6470;
  --text-color: #2c2c2c;
  --text-secondary-and-empty-input-form-: #818a96;
  --input-form-: #f3f2f6;
  --background-color-dark: #171c29;
  --unnamed-color-ffffff: #fff;
  --unnamed-color-808080: grey;
  --unnamed-color-b3b3b3: #b3b3b3;
  --unnamed-font-family-adobe-clean: Adobe Clean;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-800: 800px;
  --unnamed-font-weight-900: 900px;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-14: 14px;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-18: 18px;
  --unnamed-font-size-20: 20px;
  --unnamed-font-size-24: 24px;
  --unnamed-font-size-30: 30px;
  --unnamed-font-size-36: 36px;
  --unnamed-font-size-48: 48px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-18: 18px;
  --unnamed-line-spacing-24: 24px;
  --unnamed-line-spacing-30: 30px;
  --unnamed-line-spacing-36: 36px;
  --unnamed-line-spacing-42: 42px;
  --unnamed-line-spacing-52: 52px;
  --unnamed-text-transform-titlecase: titlecase;
  --unnamed-text-transform-uppercase: uppercase;
}

.unnamed-character-style-1 {
  color: #2c2c2c;
  color: var(--text-color);
  font-family: Adobe Clean;
  font-family: var(--unnamed-font-family-adobe-clean);
  font-size: 14px;
  font-size: var(--unnamed-font-size-14);
  font-style: normal;
  font-style: var(--unnamed-font-style-normal);
  font-weight: 700;
  font-weight: var(--unnamed-font-weight-bold);
  letter-spacing: 0;
  letter-spacing: var(--unnamed-character-spacing-0);
  line-height: 30px;
  line-height: var(--unnamed-line-spacing-30);
}

.body-text-adobe-clean-regular-16-24 {
  color: #2c2c2c;
  color: var(--text-color);
  font-size: 16px;
  font-size: var(--unnamed-font-size-16);
}

.body-text-adobe-clean-regular-16-24,
.input-text-placeholder-adobe-clean-regular-20-24 {
  font-family: Adobe Clean;
  font-family: var(--unnamed-font-family-adobe-clean);
  font-style: normal;
  font-style: var(--unnamed-font-style-normal);
  font-weight: 400;
  font-weight: var(--unnamed-font-weight-normal);
  letter-spacing: 0;
  letter-spacing: var(--unnamed-character-spacing-0);
  line-height: 24px;
  line-height: var(--unnamed-line-spacing-24);
}

.input-text-placeholder-adobe-clean-regular-20-24 {
  color: #b3b3b3;
  color: var(--unnamed-color-b3b3b3);
  font-size: 20px;
  font-size: var(--unnamed-font-size-20);
}

.input-text-adobe-clean-regular-20-24 {
  font-weight: 400;
  font-weight: var(--unnamed-font-weight-normal);
}

.input-text-adobe-clean-regular-20-24,
.input-title-adobe-clean-bold-20-24 {
  color: #2c2c2c;
  color: var(--text-color);
  font-family: Adobe Clean;
  font-family: var(--unnamed-font-family-adobe-clean);
  font-size: 20px;
  font-size: var(--unnamed-font-size-20);
  font-style: normal;
  font-style: var(--unnamed-font-style-normal);
  letter-spacing: 0;
  letter-spacing: var(--unnamed-character-spacing-0);
  line-height: 24px;
  line-height: var(--unnamed-line-spacing-24);
}

.input-title-adobe-clean-bold-20-24 {
  font-weight: 700;
  font-weight: var(--unnamed-font-weight-bold);
  text-transform: titlecase;
  text-transform: var(--unnamed-text-transform-titlecase);
}

.mobile-small-capitals-adobe-clean-—-16pt {
  color: grey;
  color: var(--unnamed-color-808080);
  font-size: 16px;
  font-size: var(--unnamed-font-size-16);
  line-height: 18px;
  line-height: var(--unnamed-line-spacing-18);
  text-transform: uppercase;
  text-transform: var(--unnamed-text-transform-uppercase);
}

.mobile-small-capitals-adobe-clean-—-16pt,
.subheading-adobe-clean-20-24 {
  font-family: Adobe Clean;
  font-family: var(--unnamed-font-family-adobe-clean);
  font-style: normal;
  font-style: var(--unnamed-font-style-normal);
  font-weight: 800px;
  font-weight: var(--unnamed-font-weight-800);
  letter-spacing: 0;
  letter-spacing: var(--unnamed-character-spacing-0);
}

.subheading-adobe-clean-20-24 {
  color: #2c2c2c;
  color: var(--text-color);
  font-size: 20px;
  font-size: var(--unnamed-font-size-20);
  line-height: 24px;
  line-height: var(--unnamed-line-spacing-24);
}

.headline-mobile-adobe-clean-—-30-36 {
  font-size: 30px;
  font-size: var(--unnamed-font-size-30);
  font-weight: 900px;
  font-weight: var(--unnamed-font-weight-900);
  line-height: 36px;
  line-height: var(--unnamed-line-spacing-36);
}

.body-text-adobe-clean-regular-18-30,
.headline-mobile-adobe-clean-—-30-36 {
  color: #2c2c2c;
  color: var(--text-color);
  font-family: Adobe Clean;
  font-family: var(--unnamed-font-family-adobe-clean);
  font-style: normal;
  font-style: var(--unnamed-font-style-normal);
  letter-spacing: 0;
  letter-spacing: var(--unnamed-character-spacing-0);
}

.body-text-adobe-clean-regular-18-30 {
  font-size: 18px;
  font-size: var(--unnamed-font-size-18);
  font-weight: 400;
  font-weight: var(--unnamed-font-weight-normal);
  line-height: 24px;
  line-height: var(--unnamed-line-spacing-24);
}

.subheadline-adobe-clean-extrabold-24-30 {
  font-size: 24px;
  font-size: var(--unnamed-font-size-24);
  font-weight: 800px;
  font-weight: var(--unnamed-font-weight-800);
  line-height: 30px;
  line-height: var(--unnamed-line-spacing-30);
}

.subheadline-adobe-clean-36-42,
.subheadline-adobe-clean-extrabold-24-30 {
  color: #2c2c2c;
  color: var(--text-color);
  font-family: Adobe Clean;
  font-family: var(--unnamed-font-family-adobe-clean);
  font-style: normal;
  font-style: var(--unnamed-font-style-normal);
  letter-spacing: 0;
  letter-spacing: var(--unnamed-character-spacing-0);
}

.subheadline-adobe-clean-36-42 {
  font-size: 36px;
  font-size: var(--unnamed-font-size-36);
  font-weight: 900px;
  font-weight: var(--unnamed-font-weight-900);
  line-height: 42px;
  line-height: var(--unnamed-line-spacing-42);
}

.twocol {
  @media (min-width: 900px) {
    display: flex;
    justify-content: space-between;
  }
}

.authFriendly {
  color: #2c2c2c;
  font: normal normal 18px/24px adobe-clean;
  letter-spacing: 0;
  opacity: 1;
  padding-top: 8px;
  text-align: right;
}

.avatar {
  height: 40px;
}

.avatar,
.bell {
  margin-right: 16px;
}

.articleList {
  -webkit-padding-start: 0;
  color: #2c2c2c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  padding-inline-start: 0;
}

.articleList li {
  font-size: 18px;
  max-width: 400px;
  text-decoration: none;
}

@media only screen and (min-width: 1400px) {
  .articleList li {
    max-width: 470px;
  }
}

.articleImage {
  aspect-ratio: 16/9;
  object-fit: cover;
  width: 470px;
}

.articleHeading {
  font: normal normal 800 24px/30px adobe-clean;
  margin: 0;
}

.articleDescription,
.articleHeading {
  color: #2c2c2c;
  letter-spacing: 0;
  opacity: 1;
  text-align: left;
}

.articleDescription {
  font: normal normal normal 20px/24px adobe-clean;
  margin-bottom: 25px;
  margin-top: 10px;
}

.accountbalance {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 143px;
  margin-top: 45px;
  max-width: 600px;
  padding: 0 40px;
  width: 600px;
}

@media only screen and (min-width: 1400px) {
  .accountbalance {
    max-width: 695px;
    width: 695px;
  }
}

.balance {
  margin: 22px 0 32px;
}

.balance p {
  color: #818a96;
  font: normal normal 700 16px/18px adobe-clean;
  text-transform: uppercase;
}

.balance h3,
.balance p {
  letter-spacing: 0;
  opacity: 1;
  text-align: left;
}

.balance h3 {
  color: #2c2c2c;
  font: normal normal 900 48px/52px adobe-clean;
  margin: 0;
}

.options {
  color: #0296a6;
  font: normal normal medium 16px/24px adobe-clean;
  letter-spacing: 0;
  margin: 22px 0 32px;
  opacity: 1;
  text-align: right;
  text-decoration: underline;
}

.options p:first-child {
  background: #0296a6 0 0 no-repeat padding-box;
  border-radius: 20px;
  color: #fff;
  font: 16px/20px adobe-clean;
  letter-spacing: 0;
  margin: 60px 10px 0 52px;
  opacity: 1;
  padding: 10px;
  text-align: center;
  width: 156px;
}

.accountNoLabel {
  color: #818a96;
  font: normal normal 700 16px/18px adobe-clean;
  text-transform: uppercase;
}

.accountNo,
.accountNoLabel {
  letter-spacing: 0;
  margin: 0;
  opacity: 1;
  text-align: left;
}

.accountNo {
  font: normal normal 800 24px/30px adobe-clean;
}

.accountNo,
.greeting {
  color: var(--text-color);
  color: #2c2c2c;
}

.greeting {
  font: normal normal 900 36px/42px adobe-clean;
  letter-spacing: 0;
  opacity: 1;
  text-align: left;
}

.transactions {
  margin: 20px 0;
  min-height: 445px;
  padding: 0;
  width: 600px;
}

@media only screen and (min-width: 1400px) {
  .transactions {
    width: 695px;
  }
}

#transactionList {
  border-collapse: collapse;
  color: #2c2c2c;
  font: normal normal normal 16px/24px adobe-clean;
  letter-spacing: 0;
  margin-top: 15px;
  opacity: 1;
  text-align: left;
  width: 100%;
}

#transactionList tr:hover {
  background-color: #ddd;
}

#transactionList td,
#transactionList th {
  border-bottom: 2px solid #0000000d;
  padding: 19px 0;
}

#transactionList td:nth-child(5) {
  font-size: 20px;
  font-weight: 700;
  text-align: right;
}

.expenses {
  margin: 20px 0;
  min-height: 445px;
  padding: 0;
  width: 600px;
}

@media only screen and (min-width: 1400px) {
  .expenses {
    width: 695px;
  }
}

.expenses h4 {
  margin-bottom: 15px;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-between;
}

.infoBox {
  background: var(--input-form-) 0 0 no-repeat padding-box;
  background: #f3f2f6 0 0 no-repeat padding-box;
  border-radius: 6px;
  flex-direction: column;
  height: 107px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1rem;
  opacity: 1;
  width: 33%;
}

.infoBox,
.infoBox-top {
  display: flex;
  padding-top: 1rem;
}

.infoBox-top {
  flex-direction: row;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.infoBox-title {
  color: var(--text-secondary-and-empty-input-form-);
  color: #818a96;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800)
    var(--unnamed-font-size-16) / var(--unnamed-line-spacing-18)
    var(--unnamed-font-family-adobe-clean);
  font: normal normal 800 16px/18px Adobe Clean;
  padding-left: 1rem;
  text-transform: uppercase;
}

.infoBox-summary,
.infoBox-title {
  letter-spacing: var(--unnamed-character-spacing-0);
  letter-spacing: 0;
  opacity: 1;
  text-align: left;
}

.infoBox-summary {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-900)
    var(--unnamed-font-size-16) / 15px var(--unnamed-font-family-adobe-clean);
  font: normal normal 900 16px/15px Adobe Clean;
}

.infoBox-top > span:last-of-type {
  margin-left: auto;
}

.infoBox-chartBox {
  display: flex;
  flex-direction: row;
}

.infoBox-value {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-900)
    var(--unnamed-font-size-24) / var(--unnamed-line-spacing-30)
    var(--unnamed-font-family-adobe-clean);
  font: normal normal 900 24px/30px Adobe Clean;
  letter-spacing: var(--unnamed-character-spacing-0);
  letter-spacing: 0;
  opacity: 1;
  padding-left: 1rem;
  text-align: left;
}

.infoBox-chart {
  height: 23px;
  opacity: 1;
  width: 48px;
}

.blue {
  color: #0296a6;
}

.pink {
  color: #db2e7e;
}

.creditcarddetails {
  padding-bottom: 13px;
  padding-top: 96px;
  width: 600px;
}

@media only screen and (min-width: 1400px) {
  .creditcarddetails {
    width: 695px;
  }
}

.creditcardimage {
  max-height: 143px;
}

.creditcardactions {
  color: #0296a6;
  font: normal normal normal 16px/24px adobe-clean;
}

.creditcardactions ul {
  padding: 15px 0 0;
}

.creditcardactions li a {
  color: #0296a6;
}

.creditcardoffer {
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  color: #0296a6;
  font: normal normal normal 16px/24px adobe-clean;
  height: 143px;
  max-height: 143px;
  padding: 20px;
  text-align: center;
  width: 290px;
}

.creditcardoffer a {
  color: #0296a6;
}

.creditcardoffer img {
  width: 98px;
}

.flexrow {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.Footer {
  background-color: #fff;
  font: 16px/20px adobe-clean;
  margin: auto;
  max-width: 1480px;
  min-height: 200px;
  text-align: center;
}

.Footer hr {
  border-bottom: 1px solid #000;
}
