@import "../styles/variables";

#parallax-item {
  position: absolute;
  top: 550px;
  height: 500px;
  left: 57%;
  transform: translate(-50%, -50%);

  pointer-events: none;
  user-select: none;
  backdrop-filter: none;
  border: none;
  box-shadow: none;
  z-index: 1;
}

.teasers-wrapper {
  display: flex;
  padding: 120px 140px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;

  .category-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;

    button {
      padding: 12px 20px;

      background-color: transparent;
      color: $color-grey-400;
    }

    .selected {
      background-color: $color-secondary-300;
      color: $color-primary-300;
    }
  }
}
